**/gen/
**/edmx/
*.db
*.sqlite
schema*.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
/mta_archives/*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea
.reloadtrigger

dist/
resources/
app/*/package-lock.json
**/package-lock.json
.cdsrc-private.json
